window {
	margin: 0px;
	background-color: #111111;
	border-radius: 30px;
	border: 2px solid #ff0000;
}

#input {
	margin: 5px;
	border: none;
	color: #FFFFFF;
	background-color: #44475a;
	border-radius: 30px;
}

#inner-box {
	margin: 5px;
	border: none;
	background-color: #111111;
	/*background-color: #ffffff;*/
	
	border-radius: 30px;
}

#outer-box {
	margin: 15px;
	border: none;
	/*background-color: #282a36;*/
	background-color: #111111;
}

#scroll {
	margin: 0px;
	border: none;
}

#text {
	margin: 5px;
	border: none;
	color: #ffffff;
}

#entry:selected {
	background-color: #44475a;
	border-radius: 20px;
	outline: none;
}

#entry:selected * {
	background-color: #44475a;
	border-radius: 20px;
	outline: none;
}
